<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.userregister">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.UserRegister">
        <activity
            android:name=".NewWorkOutActivity"
            android:exported="false" />
        <activity
            android:name=".WorkOutDetailsActivity"
            android:exported="false" />
        <activity
            android:name=".ChooseEquipmentActivity"
            android:exported="false" />
        <activity
            android:name=".YoutubeMainActivity"
            android:exported="false" />
        <activity
            android:name=".RecycleWorkOutActivity"
            android:exported="false" />
        <activity
            android:name=".RycikleActivity"
            android:exported="false" />
        <activity
            android:name=".ActivityUserShow"
            android:exported="false" />
        <activity
            android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>